body, html{
  margin : 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 98%;
}

body{
  display: flex;
}


.network_div{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid gray;
}

.network_div #connection_state{
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.network_div #connection_state.connected{
  background-color: rgb(144, 238, 144);
}

.network_div #connect_button {
  background-color: white;
  color: black;
  border: 2px solid grey;
  width: 100%;
  height: 35px;
}


.network_div #connect_button.connect_button_activated:hover{
  background-color: gainsboro;
  cursor: pointer;
}

.network_div #connection_error{
  display: none;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: none;
}

.network_div .error{
  background-color: rgb(255, 100, 0) ;
}

.network_div .input_block{

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.network_div .input_block input{
  margin-top: 5px;
  padding: 5px;
  border-radius: 0%;
  border-width: thin;
}


#remote_device_part{
  width: 85%;
  padding-left: 5px;
}

#remote_device_part #remote_device_info_container{
  display: flex;
}

#remote_device_part .rd_disconnected{
  color: rgb(255, 100, 0);
  display: inline;
}

#remote_device_part .rd_connected{
  color :rgb(144, 238, 144);
  display: inline;
}

#remote_device_part #remote_device_info_left{
  width: 33%;
  min-width: 250px;
  border-right: 1px solid grey;
  padding-left: 20px;
}

#remote_device_part #remote_device_info_left #remote_device_info_GPS table td:first-child{
  padding-right: 50px;
}

#remote_device_part #remote_device_info_right{
  width: 33%;
  min-width: 250px;
  border-right: 1px solid grey;
  padding-left: 20px;
}

#remote_device_part #remote_device_info_servos{
  width: 33%;
  max-width: 300px;
  min-width: 200px;
  padding-left: 20px;
}



#remote_device_part #remote_device_info_servos .servo_info p{
  display: inline;
  width: fit-content;
}

#remote_device_part #remote_device_info_servos .servo_info canvas{
  transform: translateY(20px);
}

#remote_device_part #remote_device_info_servos .servo_info input{
  width: 40px;
}

#remote_device_part #remote_device_info_servos #servo_change_button {
  background-color: white;
  color: black;
  border: 2px solid grey;
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-top: 20px;
}

#remote_device_part #remote_device_info_servos #servo_change_button:hover {
  background-color: gainsboro;
}



#map_part #map_center{
  width: 40px;
  height: 40px;

  background-image: url(../img/location.jpg);
  background-size: 35px;
}

#map_part #add_location{
  width: 40px;
  height: 40px;

  background-image: url(../img/add-location.jpg);
  background-size: 35px;
}

#map_part #remove_location{
  width: 40px;
  height: 40px;

  background-image: url(../img/remove-location.jpg);
  background-size: 35px;
}

#map_part #map_buttons button{
  cursor: pointer;
}

#map_part #map_buttons{
  margin-bottom: 10px;
}

#map_part #map{
  height: 300px;
  width: 100%;
}

