body, html{
  margin : 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 98%;
}

body{
  display: flex;
}


.network_div{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid gray;
}

.network_div #connection_state{
  margin-bottom: 20px;
  padding: 10px;
}

.network_div #connection_error{
  display: none;
}

.input_block{

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

#remote_device_part{
  width: 85%;
}

#remote_device_part #remote_device_info_container{
  display: flex;
}

#remote_device_part #remote_device_info_left{
  width: 50%;
}

#remote_device_part #remote_device_info_right{
  width: 50%;
}